@font-face {
  font-family: 'PixelOperator';
  src: url('../src/fonts/pixel_operator/PixelOperator.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator-Bold';
  src: url('../src/fonts/pixel_operator/PixelOperator-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator8-Bold';
  src: url('../src/fonts/pixel_operator/PixelOperator-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;

  font-family: 'PixelOperator8-Bold', 'Roboto', sans-serif;

  // no selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  // no drag
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

  // no resize
  resize: none;

  // no outline
  outline: none;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 6px;
}

/* For Firefox */
* {
  // scrollbar-color: white black;
  // scrollbar-width: thin;

  overflow: hidden;
}

.top {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;

  // direction: rtl;
  background-color: black;
  cursor: grab;
  overflow: visible;
}

.top div {
  direction: ltr;
  // overflow: visible;
}

.boy {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: blue;
}

.three {
  position: fixed;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.resume {
  position: fixed;
  top: 43%;
  left: 0;
  padding-left: 2%;
  z-index: 1;
}
.resume-name {
  // font-family: 'PixelOperator-Bold', 'Roboto', sans-serif;
  font-size: 4vw;
  margin-bottom: 1vw;
}

button {
  // position: fixed;
  min-width: 25vw;
  font-size: 2vw;
  margin-bottom: 1vw;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5vw;
  cursor: pointer;
}

button:hover {
  // background-color: white;
  background-color: rgb(17, 0, 17);
  // color: black;
}

button:active {
  background-color: rgb(54, 0, 54);
  color: rgb(0, 255, 255);
  border: 1px solid rgb(255, 0, 255);
}

.projects-top {
  position: absolute;
  width: 100%;
  // height: 100%;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.projects-scroller {
  position: relative;
  width: 70%;
  height: 100%;
}

.project-overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
}

.project {
  position: relative;
  width: 0.7 * 100vw;
  height: 0.7 * (9 / 16) * 100vw;
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title {
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  width: 110%;
  height: 110%;
  font-size: 20vw;
  mix-blend-mode: multiply;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(200, 200, 200, 1);
  text-shadow: 0 0 30px rgba(255, 255, 255, 1);
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
  // box-shadow: inset 0 0 0 10px black;
}

#project-hover > .project-title {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  // text-shadow: 0 0 30px white;
  transition: filter 0.5s ease-in-out;
  filter: blur(5px);
  box-shadow: inset 0 0 0 10px black;
}
// .project:hover > .project-title {
//   // text-shadow: 0 0 30px white;
//   transition: filter 0.5s ease-in-out;
//   filter: blur(5px);
// }

#Design {
  font-size: 23vw;
}

#Smashed {
  font-size: 17vw;
}

#Events {
  font-size: 22vw;
}

#Shows {
  font-size: 22vw;
}

#Media {
  font-size: 25vw;
}

#project-description-hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.project-description {
  font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  // height: 20%;
  // width: 100%;
  align-self: flex-end;
  font-size: large;
  font-size: 3vw;
  margin-top: 20vh;
  margin-right: 8vw;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform-origin: bottom right;
  // transform: rotate(-90deg);
  overflow: visible;
  transition: opacity 2s ease-in-out;
}

.project-video {
  position: absolute;
  margin-top: 8vh;
  width: 100%;
  height: 100%;
  z-index: -1;
  // mix-blend-mode: luminosity;
  // mix-blend-mode: screen;

  filter: blur(3px) brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

#project-hover > .project-video {
  transition: filter 0.5s ease-in-out;
  filter: blur(0px) brightness(1);
}

.project-bullet-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // margin-top: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  z-index: 1;
  overflow: visible;
}

.project-bullet-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-bullet {
  position: absolute;
  font-size: 2vw;
  top: 0;
  left: 0;
  margin: 5px;
  color: rgba(255, 255, 255, 0.5);
  animation: fadeInFromRight 1s ease-in-out both,
    flash_description 5s ease-in-out infinite;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

$bullet-count: 10;

@for $i from 1 through $bullet-count {
  .project-bullet:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
    top: $i * 8% + 20%;
  }
}
.project-stack-container {
  position: absolute;
  top: 0;
  right: 5%;
  width: 100%;
  height: 100%;

  // margin-top: 2vh;
  // margin-right: 8vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  z-index: 1;

  padding-top: 28%;
}

.project-stack {
  position: relative;
  font-size: 2vw;
  margin: 5px;
  color: rgba(255, 0, 255, 0.5);
  animation: fadeInFromLeft 1s ease-in-out both,
    flash_languages 5s ease-in-out infinite;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

$stack-count: 10;

@for $i from 1 through $stack-count {
  .project-stack:nth-child(#{$i}) {
    animation-delay: $i * 0.1s + 0.5s;
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  50% {
    opacity: 0.2;
    // transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  50% {
    opacity: 0.2;
    // transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flash_description {
  0% {
    color: rgba(230, 200, 230, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  80% {
    color: rgba(230, 200, 230, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  90% {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    filter: blur(0px);
  }
  100% {
    color: rgba(230, 200, 230, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
}
@keyframes flash_languages {
  0% {
    color: rgba(200, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  80% {
    color: rgba(200, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  90% {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    filter: blur(0px);
  }
  100% {
    color: rgba(200, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
}

///////////////////////////////////////

.spin-info {
  position: relative;
  width: 100%;
  height: 100%;

  // margin-top: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.pre {
  width: 100%;
  height: 20vh;
  background-color: black;
}
.post {
  width: 100%;
  height: 20vh;
  background-color: black;
}
