@font-face {
  font-family: 'PixelOperator';
  src: url('../src/fonts/pixel_operator/PixelOperator.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator-Bold';
  src: url('../src/fonts/pixel_operator/PixelOperator-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator8-Bold';
  src: url('../src/fonts/pixel_operator/PixelOperator-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;

  font-family: 'PixelOperator8-Bold', 'Roboto', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

  resize: none;

  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 6px;
}

* {
  overflow: hidden;
}

.name-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 0;
  margin: 0;
  padding: 0;

  font-size: 3vw;

  margin-bottom: -6 vw;
}

.top {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;

  cursor: grab;
  overflow: visible;
}

.top div {
  direction: ltr;
}

.boy {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: blue;
}

.three {
  position: fixed;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // border: 3px dashed lime;
  z-index: -1;
}

.three-mobile {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  overflow: visible;
  // border: 3px dashed lime;
  z-index: -1;
}

.resume {
  position: fixed;
  top: 38%;
  left: 0;
  padding: 1%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // border: 3px dashed lime;
}
.resume-name {
  // font-family: 'PixelOperator-Bold', 'Roboto', sans-serif;
  font-size: 4vw;
  // margin-bottom: 1vw;
}

button {
  // position: fixed;
  min-width: 25vw;
  font-size: 2vw;
  margin-bottom: 1vw;
  background-color: rgb(29, 0, 29);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5vw;
  cursor: pointer;
}

button:hover {
  background-color: rgb(49, 0, 49);
}

button:active {
  background-color: rgb(87, 0, 87);
  color: rgb(0, 255, 255);
  border: 1px solid rgb(255, 0, 255);
}

.black-boy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: black;
}

.projects-top {
  position: absolute;
  width: 100%;
  // height: 100%;
  z-index: 0;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.projects-scroller {
  position: relative;
  width: 70%;
  height: 100%;

  padding: 0;
  margin: 0;
}
.projects-scroller-mobile {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  cursor: pointer;
}

.project {
  position: relative;
  width: 0.7 * 100vw;
  height: 0.7 * (9 / 16) * 100vw;
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-icon {
  // position: absolute;
  // top: 10%;
  // right: 27%;
  // width: 10%;
  height: 15%;
  z-index: 1;
  // cursor: pointer;

  transition: opacity 2s ease-in-out;
}

.project-title-wrapper {
  position: absolute;
  top: 10%;
  right: 0;
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-title {
  position: absolute;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  width: 110%;
  height: 110%;
  font-size: 20vw;
  mix-blend-mode: multiply;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(200, 200, 200, 1);
  text-shadow: 0 0 30px rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px 10px black;
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
  // box-shadow: inset 0 0 0 10px black;
}

#project-hover > .project-title {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  // text-shadow: 0 0 30px white;
  transition: filter 0.5s ease-in-out;
  filter: blur(5px);
  box-shadow: inset 0 0 0 10px black;
}
// .project:hover > .project-title {
//   // text-shadow: 0 0 30px white;
//   transition: filter 0.5s ease-in-out;
//   filter: blur(5px);
// }

#Design {
  font-size: 23vw;
}

#Smashed {
  font-size: 17vw;
}

#Events {
  font-size: 22vw;
}

#Shows {
  font-size: 22vw;
}

#Media {
  font-size: 25vw;
}

#project-description-hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
#project-icon-hover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.project-description {
  font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  // position: absolute;
  position: relative;
  // top: 0;
  // right: 0;
  // height: 20%;
  // width: 100%;
  // align-self: flex-end;
  // font-size: large;
  font-size: 3vw;
  // margin-top: 20vh;
  // margin-right: 8vw;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform-origin: bottom right;
  // transform: rotate(-90deg);
  overflow: visible;
  transition: opacity 2s ease-in-out;
}

.project-video {
  position: absolute;
  margin-top: 8vh;
  width: 100%;
  height: 100%;
  z-index: -1;
  // mix-blend-mode: luminosity;
  // mix-blend-mode: screen;

  filter: blur(3px) brightness(0.5);
  transition: filter 0.5s ease-in-out;
}

#project-hover > .project-video {
  transition: filter 0.5s ease-in-out;
  filter: blur(0px) brightness(1);
}

.project-bullet-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // margin-top: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  z-index: 1;
  overflow: visible;
}

.project-bullet-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-bullet {
  position: absolute;
  font-size: 2vw;
  top: 0;
  left: 0;
  margin: 5px;
  color: rgba(255, 255, 255, 0.5);
  animation: fadeInFromRight 1s ease-in-out both,
    flash_description 5s ease-in-out infinite;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

$bullet-count: 10;

@for $i from 1 through $bullet-count {
  .project-bullet:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
    top: $i * 8% + 25%;
  }
}
.project-stack-container {
  position: absolute;
  top: 0;
  right: 5%;
  width: 100%;
  height: 100%;

  // margin-top: 2vh;
  // margin-right: 8vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  z-index: 1;

  padding-top: 28%;
}

.project-stack {
  position: relative;
  font-size: 2vw;
  margin: 5px;
  color: rgba(255, 0, 255, 0.5);
  animation: fadeInFromLeft 1s ease-in-out both,
    flash_languages 5s ease-in-out infinite;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

$stack-count: 10;

@for $i from 1 through $stack-count {
  .project-stack:nth-child(#{$i}) {
    animation-delay: $i * 0.1s + 0.5s;
  }
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  50% {
    opacity: 0.2;
    // transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  50% {
    opacity: 0.2;
    // transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flash_description {
  0% {
    color: rgba(230, 200, 230, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  80% {
    color: rgba(230, 200, 230, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  90% {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    filter: blur(0px);
  }
  100% {
    color: rgba(230, 200, 230, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
}
@keyframes flash_languages {
  0% {
    color: rgba(200, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  80% {
    color: rgba(200, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
  90% {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    filter: blur(0px);
  }
  100% {
    color: rgba(200, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    filter: blur(0px);
  }
}

///////////////////////////////////////

.spin-info {
  position: relative;
  width: 100%;
  height: 100%;

  // margin-top: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

/////////////////////////////////////

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  // background-color: #4CAF50;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
  text-align: center;
  color: white;
  // border-bottom: 5px solid #333;
}

h1 {
  text-shadow: 0 0 8px rgba(200, 255, 255, 0.609);
}

header h1 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 10vh;
  // margin-bottom: 10vh;
  // color: rgb(255, 200, 255);
}

li {
  text-shadow: 0 0 3px rgba(200, 255, 255, 1);
}

li > h1,
ul > h1 {
  // font-size: calc(18px + 0.8vw);
  font-size: calc(20px);
  color: rgb(200, 255, 255);
  text-shadow: 0 0 5px rgba(255, 255, 200, 0.405);
  // margin-bottom: 10vh;
}

header h2 {
  margin-bottom: 15px;
  text-shadow: 0 0 5px rgba(200, 255, 255, 1);
}

p {
  margin-bottom: 5px;
  text-shadow: 0 0 3px rgba(200, 255, 255, 1);
}

section {
  padding: 20px;

  margin-bottom: 10vh;
}

h3 {
  font-size: 6vh;
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
  padding-bottom: 5px;
  // color: rgb(255, 200, 255);
  text-shadow: 0 0 5px rgba(200, 255, 255, 1);
}

h4 {
  font-size: 4vh;
  border-bottom: 2px solid #333;
  color: rgb(255, 255, 200);
  text-shadow: 0 0 5px rgba(200, 255, 255, 1);
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.job {
  margin-bottom: 20px;
}

.job-title {
  font-weight: bold;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

.pic {
  width: 100%;
  // height: 35vh;
  border-radius: 5px;
}

.horiz-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.demo-projects {
  margin-top: 10vh;
  width: 100%;
  // height: 60vh;
  // background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(5vw + 30px);
  color: rgb(255, 200, 255);
  text-shadow: 0 0 5px rgba(200, 255, 255, 1);
}

.demo {
  width: 80%;
  // height: 30vh;
  // background-color: black;

  font-size: calc(1vw + 10px);
  // font-size: 4vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3vh;
}

.gif {
  width: 40%;
  // height: 100px;
  object-fit: cover;
  image-rendering: pixelated;
  margin-bottom: 2vh;
}

.pre {
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  position: relative;
  width: 100%;
  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last {
  // height: 80vh;
  // margin-bottom: 80vh;
  font-size: 15px;
  // margin-top: 50vh;
}

// media query horiz-section to be vertical
@media (max-width: 800px) {
  .horiz-section {
    flex-direction: column;
  }
}

.sette-icon {
  width: 60%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  margin-bottom: 2vh;
}

.sette-wrapper {
  padding-top: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
