body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  direction: rtl;
  overflow-y: scroll;
  height: 100vh;

  & > * {
    direction: ltr;
  }

  // For Webkit browsers (Chrome, Safari, etc.)
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
  }

  // For Firefox
  * {
    scrollbar-width: thin;
  }
}